*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    box-sizing: inherit;
    background-color: orange;
    color: rgb(10, 158, 216);
}

.main-header{
    background: radial-gradient(#fff, #ffd4d4);
}

.container{
    width: 80%;
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li{
    /* display: inline-block; */
    padding: 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: #555555;
    font-size: 18px;
    text-transform: capitalize;
}

.header-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-text{
    flex-basis: 50%;
}

.header-text h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.header-text p{
    margin-bottom: 30px;
}

.header-image{
    flex-basis: 50%;
}

.header-image img{
  width: 100%;
}

.btn{
    text-decoration: none;
    background-color: #ff523b;
    padding: 20px 30px;
    color: white;
    border-radius: 25px;
    transition: background 0.9s;
}

.btn:hover{
    background-color: #563434;
}

.row{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-3{
    flex-basis: 30%;
    min-width: 200px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.main-container{
    width: 65%;
    margin: auto;
}

/* featured product */

.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    transition: transform 0.5s;
}

.col-4:hover{
    transform: translateY(-5px);
}

.col-4 img{
    width: 100%;
}

.fas{
    color: #ff523b;
}

.title{
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.title::after{
content: "";
background-color: #ff523b;
width: 100px;
height: 5px;
position: absolute;
bottom: 0px;
left: 50%;
transform: translateX(-50%);
}

/* offer content */

.offer-section{
    background: radial-gradient(#fff, #ffd4d4);
}

.brand{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.section-image{
    flex-basis: 50%;
}

.section-image img{
    width: 100%;
}

.section-content{
    flex-basis: 50%;
}

.botton{
    margin-top: 40px;
}

/* testimonial */

.fa{
    color: #ff523b;
}

.main-testimonial{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 200px;
    align-items: center;
}

.testimonial-box{
    flex-basis: 30%;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    min-width: 200px;
    transition: transform 0.5s;
    margin-bottom: 80px;
}

.testimonial-box:hover{
    transform: translateY(10px);
}

.testimonial-box img{
    width: 50%;
    border-radius: 50%;
    margin-top: 20px;
}

.testimonial-box p{
    font-size: 12px;
    color: gray;
}

/* branding */
.branding-logo{
    margin-bottom: 100px;
}

.branding-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.branding-image{
    flex-basis: 16%;
}

.branding-image img{
    width: 100%;
    filter: grayscale(100%);
}

.branding-image img:hover{
    filter: grayscale(0);
}

.footer{
    background-color: black;
}

.main-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-image{
    flex-basis: 16px;
    flex-wrap: wrap;
}

.footer-image .image-col{
    padding: 15px;
}

.main-footer p{
    color: white;
    text-align: center;
    font-size: 14px;
}

.main-footer h3{
    color: white;
    text-align: center;
}

.copy-right p{
text-align: center;
color: white;
padding-bottom: 50px;
}

.copy-right a{
    text-decoration: none;
    color: white;
}
   



